.target-img-container{
    background-image: linear-gradient(0deg, rgba(98, 62, 42, 0.40) 0%, rgba(98, 62, 42, 0.40) 100%), url(./img/imgcover.jpg);
    height: 100vh;
    background-size: cover;
}

.target-section{
    background-color: #d9d9d9;
}